@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;*/

/* height: 50vh;
  width: 100%;
 /* background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;*/

body {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
  flex-shrink: none;
}

.centre_left {
  background-color: hsl(228, 56%, 26%);
  min-width: 360px;
  height: 200px;
  border-radius: 25px;
  border-top-right-radius: 10em;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
  padding-left: 40px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 0px;
  margin-right: 15px;
  border-radius: 10px;
}

/* Right box */

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: none;
}
.centre_right {
  background-color: hsl(228, 56%, 26%);
  padding-bottom: 10px;
  color: white;
  font-size: 14px;
  min-width: 360px;
  height: 150px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.centre_right_1 span {
  font-weight: 800;
}

.centre_right_2 {
  background-color: white;
  color: black;
  font-size: 40px;
  width: 180px;
  height: 70px;
  border-radius: 10px;
  /* border-bottom-right-radius: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  position: relative;
  top: -15%;
}

.centre_right_2 span {
  margin-left: 10px;
  font-size: 10px;
  color: hsl(229, 7%, 55%);
  justify-items: space-between;
  text-transform: uppercase;
}

.gradient {
  display: flex;
  background-color: hsl(229, 57%, 11%);
  border: 2px solid hsl(229, 57%, 11%);
  width: 80%;
  border-radius: 50px;
}
.gradient_1 {
  width: 81.5%;
  height: 15px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

.ball {
  position: relative;
  left: 96%;
  top: 1px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.centre_right_3 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 410px) {
  html {
    background-color: hsl(229, 57%, 11%);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110% 50%;
  }

  section {
    flex-direction: row;
    gap: 15px;
  }

  .box {
    display: flex;
    flex-direction: row;
  }

  .centre_right {
    width: 600px;
  }
  .centre_right_1 {
    width: 80%;
  }
  .centre_right_2 {
    background-color: white;
    border-bottom-right-radius: 0;
    position: relative;
    top: -100px;
    left: -30%;
  }
  .centre_right_2_b {
    background-color: white;
    height: 30px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 25px solid hsl(228, 56%, 26%);
    position: relative;
    top: -53px;
    left: -33.1%;
  }
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%) center
- Very Dark Blue: hsl(229, 57%, 11%) font

## Typography

### Body Copy

- Font size: 14px

### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700*/
